/*********************
   Header Style
*********************/
body{
    background-image: url("../img/stringio.jpg"), linear-gradient(rgba(0,0,0,0.25),rgba(0,0,0,0.25));
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
}

#container{
    background-color: white;
    width: 960px;
    height: auto;
    margin: 0px auto;
    padding: 0 15px;}

#container header{
    font-family: cambria;
    background-color: white;
    padding: 0 0 11em;
    height: 90px;}
}


/*********************
   Nav Styles
*********************/
header nav{
    float: right;}

header nav ul{
    margin: 0;
    padding: 0;
    font-family: cambria;}

header nav ul li{
    float: left;
    padding: 0em 0 0em 1.3em;}

header nav ul li a, 
header nav ul li a:visited{
    font-size: 1em;
    color: #4A4A4A;
    text-decoration: none;}

header nav ul li a.active, 
header nav ul li a:focus, 
header nav ul li a:hover{
    color: green;}

li{
    display: inline;
    margin: 10px;}

/*********************
   Events
*********************/
#filter
{
    float: none;
    padding: 10px;
    margin-top: 1em;
}
 
#Events
{
    margin: 5px;
    padding: 3px;
}

#EventList
{
    overflow: scroll;
    margin-left: 30px;
}

#Submit
{
    float:right;
    margin-right: 30px;
    padding-right: 30px;
    padding: 5px;
    border-style: solid;
    border-color: black;
    border-width: 1.5px;
    
}