<!DOCTYPE HTML>
<!--
	Spatial by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>DragonEvents</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="../css/main.css" />
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<h1><strong><a href="index.html">DragonEvents</a></strong></h1>
				<nav id="nav">
					<ul>
						<li><a href="index.html">Home</a></li>
						<li><a href="about.html">About Us</a></li>
						<li><a href="events.html">Events</a></li>
                        <li><a href="login.html">Login</a></li>
					</ul>
				</nav>
			</header>

			<a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>

		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="container">

					<header class="major special">
						<h2>About Us</h2>
					</header>

					<p>DragonEvents is a website for Drexel Students to see events that happen on or near Drexel campus.  Everyone hears about the larger events that occur on campus, but the smaller ones should have an attendance as well.  We aim to create a website where all events at Drexel will be seen by users.</p>
					<p>For instance, Main building having free pizza is attractive to students, but not many people will know about it.  We aim to include all of the larger events on campus along with the smaller ones that are often forgotten. This ranges from club events, academic seminars, and other events that can benefit students in any way possible.</p>
					<p>Created by: Harley Sacramento,  Saffat Hasan, Haley Lee, Rahul Godaba</p>

				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="container">
					<ul class="copyright">
						<li>&copy; Untitled</li>
						<li>Design: <a href="http://templated.co">TEMPLATED</a></li>
						<li>Images: <a href="http://unsplash.com">Unsplash</a></li>
					</ul>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>
