//- layout-alt.pug
//- used exclusively for index.pug, so maybe it's not the best use of inheritance
//- only differences are body.landing and header#header.alt
doctype html
html
  head
    title DragonEvents
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='../css/main.css')
  //- This line is different
  body.landing
    // Header
    //- and this line is different
    header#header.alt
      h1
        strong
          a(href='/') DragonEvents
      nav#nav
        ul
          li
            a(href='/') Home
          li
            a(href='/about') About Us
          li
            a(href='/events') Events
          li
            if session.user
              a(href='/logout') Logout
            else
              a(href='/login') Login
    a.navPanelToggle(href='#menu')
      span.fa.fa-bars
    block main
    // Footer
    footer#footer
      .container
        ul.icons
          li
            a.icon.fa-facebook(href='#')
          li
            a.icon.fa-twitter(href='#')
          li
            a.icon.fa-instagram(href='#')
        ul.copyright
          li © Untitled
          li
            | Design:
            a(href='http://templated.co') TEMPLATED
          li
            | Images:
            a(href='http://unsplash.com') Unsplash
    block scripts
      // Scripts
      script(src='../js/jquery.min.js')
      script(src='../js/skel.min.js')
      script(src='../js/util.js')
      script(src='../js/main.js')
      script(src='../js/gmap.js')
