extends layout

block content-title
  h2 Registration

block content
  form#userForm
    #register
      p First Name:
        input#firstName(type='text', name='firstName', placeholder='First Name')
      p Last Name:
        input#lastName(type='text', name='lastName', placeholder='Last Name')
      p Drexel Email:
        input#email(type='email', name='email', placeholder='Email')
      p Password:
        input#password(type='password', name='password', placeholder='Password')
      p Confirm password:
        input#confirm_password(type='password', name='confirm_password', placeholder='Confirm Password')
      br
      button Submit

block append scripts
  script(src='../js/jquery.validate.min.js')
  script(src='../js/submit_user.js')