<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>DragonEvents</title>
        <link rel="stylesheet" type="text/css" href="../css/Login.css">

</head>
<body>
	<!-- Page Container -->
	<div id="container">
		<!-- Header -->
		<header>
			<!-- Logo -->
            <div id= "logo">
                <a href= "../templates/index.html"><img src="../img/DragonEventsLogo.JPG" alt="DragonEvents Logo" height="150" width="200"></a>
                <h2>Welcome to DragonEvents!</h2>
            </div>
			<!-- Navigation -->
			<nav>
				<ul class= "nav"> 
                    <li> <a href= "../templates/index.html">Home</a></li>
                    <li> <a href= "../templates/Events.html">Events</a></li>
                    <li> <a href= "../templates/about.html">About us</a></li>
                    <li> <a href= "../templates/Login.html">Log in</a></li>
                </ul>
			</nav>
		</header>
        <div id="MainContent">
    <div class="loginPage">
        <p align="center">Please login using a verrified email adress and password. </p>
        </div>
    <div id="form">
        <input type="text" placeholder="User Email"/>
        <input type="text" placeholder="Password"/>
        <button>Login</button>
        <button>Register</button>
        <p>Don't have an account? Register for one above.
        </p>
    </div>
        </div>
    </div>
    </body>
</html>