<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>DragonEvents</title>
        <link rel="stylesheet" type="text/css" href="../css/aboutuscss.css">

</head>
<body>
	<!-- Page Container -->
	<div id="container">
		<!-- Header -->
		<header>
			<!-- Logo -->
            <div id= "logo">
                <a href= "../templates/index.html"><img src="../img/DragonEventsLogo.JPG" alt="DragonEvents Logo" height="150" width="200"></a>
                <h2>Welcome to DragonEvents!</h2>
            </div>
			<!-- Navigation -->
			<nav>
				<ul class= "nav"> 
                    <li> <a href= "../templates/index.html">Home</a></li>
                    <li> <a href= "../templates/Events.html">Events</a></li>
                    <li> <a href= "../templates/about.html">About us</a></li>
                    <li> <a href= "../templates/Login.html">Log in</a></li>
                </ul>
			</nav>
		</header>

		<!-- Main Content -->
		<div id="MainContent">
			<!-- Feature -->
			<section id="about">
                <h2>About DragonEvents</h2>
                <p>DragonEvents is a website for Drexel Students to see events that happen on or near Drexel campus.  Everyone hears about the larger events that occur on campus, but the smaller ones should have an attendance as well.  We aim to create a website where all events at Drexel will be seen by users.</p>
                <p> For instance, Main building having free pizza is attractive to students, but not many people will know about it.  We aim to include all of the larger events on campus along with the smaller ones that are often forgotten. This ranges from club events, academic seminars, and other events that can benefit students in any way possible.
                </p>
                <p><br><br><br><br>Created by: Harley Sacramento,  Saffat Hasan, Haley Lee, Rahul Godaba, and Nicholas Nguyen</p>
            </section>
		</div>
	</div>
</body>
</html>
