<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>DragonEvents</title>
        <link rel="stylesheet" type="text/css" href="../css/EventStyle.css">

</head>
<body>
	<!-- Page Container -->
	<div id="container">
		<!-- Header -->
		<header>
			<!-- Logo -->
            <div id= "logo">
                <a href= "../templates/index.html"><img src="../img/DragonEventsLogo.JPG" alt="DragonEvents Logo" height="150" width="200"></a>
                <h2>Welcome to DragonEvents!</h2>
            </div>
			<!-- Navigation -->
			<nav>
				<ul class= "nav"> 
                    <li> <a href= "../templates/index.html">Home</a></li>
                    <li> <a href= "../templates/Events.html">Events</a></li>
                    <li> <a href= "../templates/about.html">About us</a></li>
                    <li> <a href= "../templates/Login.html">Log in</a></li>
                </ul>
			</nav>
		</header>

		<!-- Main Content -->
		<div id="MainContent">
			<!-- Feature -->
            <section id="Submit">
                <a href= "../testForm.html"><img src="../img/submit_event.jpg" height=50 width=200></a>
            </section>
			<section id="filter">
            <input id="name_input" placeholder="Event Name"/>
            <input id="start_date" placeholder="Start Date" type="date"/>
            <input id="end_date" placeholder="End Date" type="date"/>
            <ul>
                <li><input class="tag" type="checkbox">Free</li>
                <li><input class="tag" type="checkbox">Paid</li>
                <li><input class="tag" type="checkbox">Music</li>
                <li><input class="tag" type="checkbox">Food</li>
            </ul>            
            </section>
            <div id="EventList">
            <section id="Events">
                <h3>Event Name</h3>
                <p>About the Events</p>
                <p>Event Date and Tme</p>
            </section>
            <section id="Events">
                <h3>Event Name</h3>
                <p>About the Events</p>
                <p>Event Date and Tme</p>
            </section>
            <section id="Events">
                <h3>Event Name</h3>
                <p>About the Events</p>
                <p>Event Date and Tme</p>
            </section>
            <section id="Events">
                <h3>Event Name</h3>
                <p>About the Events</p>
                <p>Event Date and Tme</p>
            </section>
            <section id="Events">
                <h3>Event Name</h3>
                <p>About the Events</p>
                <p>Event Date and Tme</p>
            </section>
            <section id="Events">
                <h3>Event Name</h3>
                <p>About the Events</p>
                <p>Event Date and Tme</p>
            </section>
            </div>
        </div>
        </div>
    </body>
</html>