doctype html
html
  head
    title DragonEvents
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='../css/main.css')
  body
    // Header
    header#header
      h1
        strong
          a(href='/') DragonEvents
      nav#nav
        ul
          li
            a(href='/') Home
          li
            a(href='/about') About Us
          li
            a(href='/events') Events
          li
            a(href='/login') Login
    a.navPanelToggle(href='#menu')
      span.fa.fa-bars
    // Main
    section#main.wrapper
      .container
        header.major.special
          h2  Registration  
        form#userForm
          #register
            p
              | First Name:
              input#firstName(type='text', name='firstName', placeholder='First Name')
            p
              | Last Name:
              input#lastName(type='text', name='lastName', placeholder='Last Name')
            p
              | Drexel Email: 
              input#email(type='email', name='email', placeholder='Email')
            p
              | Password: 
              input#password(type='password', name='password', placeholder='Password')
            p
              | Confirm password:
              input#confirm_password(type='password', name='confirm_password', placeholder='Confirm Password')
            br
            button Submit
    // Footer
    footer#footer
      .container
        ul.copyright
          li © Untitled
          li
            | Design: 
            a(href='http://templated.co') TEMPLATED
          li
            | Images: 
            a(href='http://unsplash.com') Unsplash
    // Scripts
    script(src='../js/jquery.min.js')
    script(src='../js/skel.min.js')
    script(src='../js/util.js')
    script(src='../js/main.js')
    script(src='../js/gmap.js')
    script(src='https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/jquery.validate.min.js')
    script(src='../scripts/submit_user.js')

